footer{
    width: 100%;
    flex-shrink: 0;
    background: #EBEDEE;
    position: relative;
}
footer img{
    width: 100px;
    height: 42px;
}
.footer-content{
       color: #071B55;
       display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        align-self: stretch;
        padding: 50px  112px 10px 112px;
}
.footer-paragraph{
   
        text-align: center;
        align-self: stretch;
        font-family: 'Poppins',sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.48px;
}
.email{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.4px;
}
.email svg{
    width: 20px;
    height: 16px;
    stroke-width: 2px;
    stroke: #071B55;
}
.footer-line{
        display: flex;
        padding-top: 32px;
        align-items: center;
        gap: 32px;
        align-self: stretch;
        border-top: 1px solid #DCDDDF;
}
.last-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    padding-bottom: 35px;
    padding-top: 20px;
   
}
.copy-right-text{
        color: var(--gray-500, #667085);
        font-family: 'Poppins',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
       
        
}
.terms-text a{
    color: var(--gray-500, #667085);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: none;
        padding-right: 16px;
}

@media (max-width:570px) { 
    footer{
        height: 100%;
    }
    .footer-content{
        padding: 32px 20px;
    }
    .footer-paragraph{
            width: 350px;
            margin: 0 auto;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.4px;
    }
    .email{
        font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            /* 187.5% */
            letter-spacing: -0.32px;
    }
.last-footer{
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px;
        align-self: stretch;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0 auto;
        padding-top: 0px;
       
}
}