
*{
     box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }

    /* banner section */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-radius: 30px;
    background: #FFF;
    padding-top: 90px;
    gap: 20px;
   
}
.banner-text{
    padding-left: 20px;
    padding-top: 90px;
}
.banner-text h1{
    width: 548px;
    /* padding: 20px; */
    color: #071B55;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.8px;
}
.banner-text p{
    width: 504px;
    color: #071B55;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-top: 26px;
        
}

.banner-img img{
    width: 704px;
    margin: 0 auto;
    padding: 0px;
    height: 500px;
    flex-shrink: 0;
}
/* after banner content */
.after-banner{
width: 1269px;
height: 331px;
flex-shrink: 0;
border-radius: 20px;
background: #23B1D9;
margin:50px auto;
}
.after-banner p{
    width: 1047px;
    height: 72px;
    flex-shrink: 0;
    color: #FFF;
        text-align: center;
         font-family: 'Poppins', sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        margin:  50px auto;
        letter-spacing: -0.52px;
        position: relative;
}
.after-banner .img-2{
    position: absolute;
    right: 0;
}
.after-banner-phone{
    display: none;
}
/* same-container section */
.same-container{
display: flex;
justify-content: center;
gap: 100px;
align-items: center;
margin: 80px 00px;
padding: 0 120px;
}
.same-container img{
    width: 620px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 25px;
    padding-left:20px ;
}


.same-container h1{
    color: #071B55;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.3px;
        /* padding-bottom: 8px; */
}
.same-container p{
    width: 506px;
        color: #071B55;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 33px */
}
.odd-container p{
    width: 462px;
}
.even-container{
    display: none;
}
.even-container img{
        width: 620px;
        height: 250px;
        flex-shrink: 0;
        border-radius: 25px;
        padding-left: 20px;
}
  .before-footer {
      width: 1270px;
      height: 427px;
      flex-shrink: 0;
      margin: 150px auto;
      border-radius: 25px;
      background: #071B55;
      color: #FFF;
      position: relative;
  }
  .for-patient{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    color: #FFF;
    padding-top: 20px;
    
  
  }
  .for-patient p{
    opacity: 0.5;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
.slide p{
        width: 932px;
        color: #FFF;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.5px;
        margin: 80px auto;
}
  .before-footer .bg-img1{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
  }
  .before-footer .bg-img2{
    position: absolute;
    left: 0;
    bottom: 0px;
    z-index: 10;
  }
  
/* slider */

#slider {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
    position: relative;
}

#slider-wrapper {
    width: 9999px;
    height: 300px;
    position: relative;
    transition: left 400ms linear;
}

.slide {
    float: left;
    width: 960px;
    height: 300px;
    position: relative;
}

#slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 0px;
    left: 450px;
}

#slider-nav a {
   
    width: 10px;
    height: 10px;
    background: gray;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
}

#slider-nav a.current {
    background-color: white;
}










  /* phone */
@media screen and (max-width:570px) {
    /* banner */
    *{
        padding: 0;
    }
    .banner-section{
      
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 0 auto;
        padding-top: 30px;
    }
    .banner-img{
        margin: 100px auto;
        display: flex;
        justify-content: center;
    }
    .banner-img img{
        margin: 0px auto;
        width: 350px;
        height: 318px;
        flex-shrink: 0;
    }
   
    .banner-text h1{
           
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            width: 320px;
            letter-spacing: -0.6px;
    }
    .banner-text p{
            width: 200px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            
    }
    /* after banner */
        .after-banner {
          display: none;
        }
    .after-banner-phone{
        display: block;
        background: #23B1D9;
        height: 330px;
        width: 100%;
        position: relative;
    }
    .after-banner-phone p{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.44px;
            padding-top: 85px ;
            padding-bottom: 35px ;
    }
    .after-banner-phone .img-1{
position: absolute;
left: 0;
    }
    .after-banner-phone .img-2{
position: absolute;
right: 0;
bottom: 5px;
    }
       
        /* same-container */
        .same-container{
            display: grid;
            margin: 20px auto;
            padding:  0 20px;
        }
        .same-container img{
            width: 350px;
            margin: 50px auto;
            padding: 0;
        }
        .same-container h1{
            font-size: 24px;
            padding-left: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.24px;
        }
        .same-container p{
            padding-left:30px;
            width: 320px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
        }
        .even-container{
           display: block;
           margin: 20px auto;
          
        }
        .odd-container{
            display: none;
            padding-left: 0;

        }
  .before-footer{
    display: none;
    width: 100%;
    height: 100%;
  }
  .before-footer .bg-img1,.bg-img2{
        width: 100%;
        flex-shrink: 0;
  }
  .before-footer-text{
    width: 353px;
    color: #FFF;
    text-align: center;
     font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.4px;
  }
}