.services-container h1 {
    width: 790px;
    color: #071B55;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.52px;
        padding-left: 50px;
        margin: 90px 0 40px 0;
}

.services-content {
    width: 1270px;
    height: 500px;
    flex-shrink: 0;
    margin: 0px auto;
    position: relative;
}

.services-text-content {
    width: 969px;
    height: 258px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    padding: 54px 40px;
    position: absolute;
    bottom: -170px;
    left: 140px;
    z-index: 20;


}

.services-text-content p {
    width: 861px;
    margin: 0 auto;
    color: #071B55;
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;


}

/* spa */
 .navbar ul {
    width: 100%;
     margin: 200px auto 0px auto;
     list-style: none;
     padding: 20px 50px 20px 50px;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     
 }

 .nav-border{
    width: 1270px;
    opacity: 0.2;
    background: #000;
    height: 1px;
    margin: 0 auto;
 }
  .navbar li{
    text-decoration: none;
  }
 .navbar a {
        text-decoration: none;
        color: #071a5588;
        font-family: Poppins;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.26px;
        transition: 0.3s;
        
 }

 .navbar a.active ,.navbar ul li a:hover{
    color: #071B55;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
    
 }
#content{
    width: 100%;
    margin: 100px auto;
}
.hospital-container{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 0px 50px;
}
.hospital-container img{
    width: 380px;
    height: 430px;
    border-radius: 20px;
}
.hospital-content{
padding-left: 30px;
}
.hospital-content h1{
    width: 840px;
    color: #071B55;
        font-family: Poppins;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 131%;
        letter-spacing: -0.3px;
}
.hospital-content .content-header{
    color: #071B55;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.22px;
        margin-top: 20px ;
}
.hospital-content .content-pera{
    width: 840px;
    color: #071B55;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
}
.hospital-content nav li{
        width: 840px;
        color: #071B55;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-top: 10px;
       
        /* 28px */
}
.benefits{
       display: flex;
        width: 838px;
        padding: 22px 32px 22px 25px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        border-radius: 20px;
        background: #23B1D9;
        margin-top: 30px;
    
}
.benefits-header{
   
    color: #FFF;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.22px;
}
.benefits-pera{
    width: 786px;
    color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
}



@media screen and (max-width:570px) {
    .services-container h1 {
        width: 340px;
        color: #071B55;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 35px;
        margin-top: 72px;
        margin-bottom: 46px;
        padding-left: 20px;
        letter-spacing: -0.48px;
    }

    .services-content {
        width: 360px;
        margin: 0px auto;
        flex-shrink: 0;
        position: relative;
    }

    .services-content img {
        width: 370px;
        height: 244px;
        flex-shrink: 0;
        margin: 0px auto;
        position: relative;
    }

    .services-text-content {

        width: 320px;
        height: 318px;
        flex-shrink: 0;
        padding: 54px 8px;
        position: absolute;
        bottom: -40px;
        left: 30px;
        z-index: 90;
    }

    .services-text-content p {
        width: 300px;
        margin: 0 auto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 22.4px */


    }

    .navbar ul,.nav-border{
        display: none;
    }
        .router-desktop {
        display: none;
    }
}